{% for collection in collections limit:4 %}
  <a href="{{ collection.url }}" 
     class="bg-white rounded-xl p-4 text-center shadow-sm hover:shadow-lg transition block">
    
    {% if collection.image %}
      <img src="{{ collection.image | image_url: width: 300 }}" 
           class="w-full h-32 object-cover mb-2">
    {% endif %}

    <p class="text-sm font-medium">
      {{ collection.title }}
    </p>

  </a>
{% endfor %}
