<!-- MIDDLE CATEGORY CARDS -->
<div class="md:col-span-2 grid grid-cols-2 gap-5">

  {% for link in linklists.main-menu.links limit:4 %}

    {% assign collection_handle = link.url | split: '/collections/' | last %}
    {% assign collection = collections[collection_handle] %}

    <a href="{{ link.url }}" 
       class="group bg-white rounded-xl p-4 text-center shadow-sm hover:shadow-lg transition block overflow-hidden">

      <!-- IMAGE -->
      {% if collection and collection.image %}
        <img 
          src="{{ collection.image | image_url: width: 400 }}" 
          class="w-full h-36 object-cover rounded-lg transition duration-500 group-hover:scale-110"
        >
      {% else %}
        <div class="w-full h-36 bg-gray-200 flex items-center justify-center rounded-lg">
          No Image
        </div>
      {% endif %}

      <!-- TITLE -->
      <p class="text-sm font-semibold text-gray-800 mt-3">
        {{ link.title }}
      </p>

    </a>

  {% endfor %}

</div>
